### price data to mongodb

In [1]:
## Code Info
# Version: 2018-03-10
# Data info: daily OHLC Bitcoin (USD) Price
# Data source: download from https://www.coindesk.com/price/

In [5]:
import json
import pymongo
import pandas as pd
import datetime
from dateutil.relativedelta import relativedelta
from pymongo import MongoClient
# Read data
csv_path = './coindesk-bpi-USD-ohlc_data-2013-01-01_2018-07-02.csv'
df = pd.read_csv(csv_path)

# Remove last 2 rows which isnt required
# df = df.drop(df.index[[-1,-2]])


# Modify date format to datetime
for index, row in df.iterrows():
    x = datetime.datetime.strptime(row['Date'], '%Y/%m/%d %H:%M')
    df.at[index, 'Date'] = x

# Send to DB
_list = []
for index, row in df.iterrows():
    temp = {
        "Date": row['Date'],
        "Open": row['Open'],
        "High": row['High'],
        "Low": row['Low'],
        "Close": row['Close']
    }
    _list.append(temp)
    
# import urllib.parse
# username = urllib.parse.quote_plus('root')
# password = urllib.parse.quote_plus('')
# client = MongoClient('mongodb://%s:%s@140.112.145.148:26666' % (username, password))
# db = client.BTC_PRICE_DB

client = MongoClient('mongodb://localhost:27017/')
db = client.BTC_PRICE_DB
for _ in _list:
    db.BTC_COINDESK_DAILY_PRICE_COLLECTION.insert_one(_)
print('Database Updated')

Database Updated

In [4]:
df.head(10000)

                     Date     Open     High      Low    Close
0     2013-01-01 00:00:00    13.51    13.56    13.16    13.30
1     2013-01-02 00:00:00    13.30    13.40    13.16    13.28
2     2013-01-03 00:00:00    13.28    13.46    13.25    13.40
3     2013-01-04 00:00:00    13.40    13.52    13.27    13.50
4     2013-01-05 00:00:00    13.50    13.55    13.31    13.44
5     2013-01-06 00:00:00    13.44    13.52    13.36    13.45
6     2013-01-07 00:00:00    13.45    13.59    13.40    13.59
7     2013-01-08 00:00:00    13.59    13.88    13.50    13.74
8     2013-01-09 00:00:00    13.74    13.86    13.62    13.77
9     2013-01-10 00:00:00    13.77    14.32    13.77    14.14
10    2013-01-11 00:00:00    14.14    14.35    13.91    14.14
11    2013-01-12 00:00:00    14.14    14.34    13.97    14.24
12    2013-01-13 00:00:00    14.24    14.31    13.95    14.12
13    2013-01-14 00:00:00    14.12    14.35    14.11    14.30
14    2013-01-15 00:00:00    14.30    14.48    13.99    14.25
15    2013-01-16 00:00:00    14.25    14.73    14.21    14.73
16    2013-01-17 00:00:00    14.73    15.70    14.63    15.50
17    2013-01-18 00:00:00    15.50    15.98    15.41    15.70
18    2013-01-19 00:00:00    15.70    15.77    15.25    15.61
19    2013-01-20 00:00:00    15.61    15.89    15.51    15.70
20    2013-01-21 00:00:00    15.70    16.98    15.63    16.80
21    2013-01-22 00:00:00    16.80    17.59    16.65    17.26
22    2013-01-23 00:00:00    17.26    17.59    16.80    17.50
23    2013-01-24 00:00:00    17.50    19.19    15.61    16.90
24    2013-01-25 00:00:00    16.90    17.80    15.39    17.40
25    2013-01-26 00:00:00    17.40    17.88    16.54    17.88
26    2013-01-27 00:00:00    17.88    18.00    17.21    17.82
27    2013-01-28 00:00:00    17.82    18.88    17.75    18.72
28    2013-01-29 00:00:00    18.72    19.80    18.70    19.53
29    2013-01-30 00:00:00    19.53    19.80    19.15    19.70
...                   ...      ...      ...      ...      ...
1997  2018-06-21 00:00:00  6758.38  6785.63  6684.55  6717.20
1998  2018-06-22 00:00:00  6717.20  6728.31  5938.17  6053.90
1999  2018-06-23 00:00:00  6053.90  6252.12  6036.78  6170.56
2000  2018-06-24 00:00:00  6170.56  6241.60  5785.43  6150.19
2001  2018-06-25 00:00:00  6150.19  6316.98  6086.15  6247.47
2002  2018-06-26 00:00:00  6247.47  6270.62  6055.85  6074.92
2003  2018-06-27 00:00:00  6074.92  6175.55  6007.05  6132.56
2004  2018-06-28 00:00:00  6132.56  6157.96  5827.33  5848.26
2005  2018-06-29 00:00:00  5848.26  6297.67  5799.62  6203.90
2006  2018-06-30 00:00:00  6203.90  6502.68  6195.22  6387.31
2007  2018-07-01 00:00:00  6387.31  6427.07  6262.28  6347.86
2008  2018-07-02 00:00:00  6347.86  6349.77  6330.65  6352.92
2009  2018-07-02 00:15:00  6352.92  6352.92  6326.50  6331.35
2010  2018-07-02 00:30:00  6331.35  6338.94  6328.23  6328.39
2011  2018-07-02 00:45:00  6328.39  6344.46  6319.27  6338.63
2012  2018-07-02 01:00:00  6338.63  6339.64  6333.34  6337.79
2013  2018-07-02 01:15:00  6337.79  6339.46  6336.19  6337.00
2014  2018-07-02 01:30:00  6337.00  6342.58  6333.46  6331.89
2015  2018-07-02 01:45:00  6331.89  6331.89  6323.89  6327.12
2016  2018-07-02 02:00:00  6327.12  6333.33  6326.09  6329.88
2017  2018-07-02 02:15:00  6329.88  6332.71  6328.57  6333.25
2018  2018-07-02 02:30:00  6333.25  6337.22  6331.86  6335.71
2019  2018-07-02 02:45:00  6335.71  6337.28  6331.19  6332.03
2020  2018-07-02 03:00:00  6332.03  6332.03  6326.36  6325.42
2021  2018-07-02 03:15:00  6325.42  6326.34  6323.34  6329.84
2022  2018-07-02 03:30:00  6329.84  6332.66  6329.84  6331.56
2023  2018-07-02 03:45:00  6331.56  6331.80  6327.92  6331.58
2024  2018-07-02 04:00:00  6331.58  6331.58  6324.57  6328.02
2025  2018-07-02 04:15:00  6328.02  6328.35  6315.96  6314.67
2026  2018-07-02 04:30:00  6314.67  6316.46  6285.36  6302.34

[2027 rows x 5 columns]